.window {
	background: #222;
	padding: 0;
	margin: 0;
	font-family: Roboto, Droid Sans, Open Sans, Ubuntu, Cantarell, Arial, FreeSans, Liberation Sans;
}
.header {
	background: linear-gradient(#555,#222);
	font-weight: 900;
	text-shadow: 0px 2px 1px rgba(0,0,0,0.33);
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.07);
}
.title {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	font-size: 11pt;
}
.attempt-count {
	color: #2196F3;
	font-size: 9pt;
	padding: 8px;
	padding-top: 7px;
}
.time {
	color: #fff;
	font-weight: 900;
}
.delta {
	color: #fff;
}
.timer {
	text-shadow: 0px 2px 1px rgba(0,0,0,0.33);
	background: linear-gradient(#000,#333);
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	transition: .25s;
}
.timer-seconds {
	font-size: 32pt;
}
.timer-millis {
	padding-bottom: 6px;
	font-weight: 100;
	padding-right: 8px;
}

.segment-seconds {
  font-size: 28px;
}

.segment-millis {
  font-size: 22px;
}

.delay {
	opacity: 0.33;
	transition: .25s;
}
.splits, .split-last {
	font-weight: 300;
	font-size: 10pt;
	border: 0;
}
.split {
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
.current-split {
	background-color: #37474F;
}
.split>.delta, .split-last>.delta {
	color: #4CAF50;
}
.split>.behind, .split-last>.behind {
	color: #F44336;
}
.split>.best-segment, .split-last>.best-segment {
	color: #FFC107;
	animation: bestseg-blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}
.split-title {
	padding-top: 4px;
	padding-left: 8px;
	padding-bottom: 4px;
}
.split-time {
	padding-right: 8px;
}
.split-last {
	border: 0;
	opacity: 0.5;
}
.timer {
	background: linear-gradient(#4CAF50,#1B5E20);
	border: 0;
}
.timer.delay {
	background: linear-gradient(#9E9E9E,#444);
}
.timer.behind {
	background: linear-gradient(#F44336,#B71C1C);
}
.footer {
	font-size: 8pt;
}
.prev-segment-label, .prev-segment {
	padding-top: 8px;
}
.prev-segment-label, .sum-of-bests-label, .personal-best-label, .world-record-label {
	padding-left: 8px;
}
.prev-segment, .sum-of-bests, .personal-best, .world-record {
	padding-right: 8px;
}
.personal-best, .personal-best-label, .world-record, .world-record-label {
	padding-bottom: 8px;
}
.footer>.delta {
	color: #4CAF50;
}
.footer>.behind {
	color: #F44336;
}
.footer>.best-segment, .footer>.best-segment {
	color: #FFC107;
}
.world-record {
	color: #2196F3;
}

@keyframes bestseg-blink {
	from {
		color: #FFC107;
	} to {
		color: #FFE082;
	}
}
