on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: "Checkout" 
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Install dependencies"
        run: |
          sudo apt -y update
          sudo apt -y install libgtk-3-dev libx11-dev libjansson-dev liblua5.4-dev

      - name: "Run make clean and make"
        run: make clean && make -j

      - name: Set Build number
        shell: bash
        run: echo "build_number=$(git rev-list HEAD --count)" >> $GITHUB_ENV

      - name: Compute git short sha
        shell: bash
        run: echo "git_short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: LAST-${{ env.build_number }}-${{ env.git_short_sha }}
          path: LAST
